.base {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444444;
  .container {
    width: 600px;
    height: 800px;
    padding:15px 20px;
    border-radius: 16px;
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(9.2px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
}
